body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #eee;
    font-size: 20px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.header{
    text-align: center;
    margin-top: 20px;
}
.btnAddNewBook{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    margin-bottom: 35px;
    background-color: rgb(30, 164, 0);
    font-size: 20px;
}
.library{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-bottom: 100px;
}
.book-card{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: gray;
    border-radius: 10px;
}
.book-card > h3{
    color: black;
}
.toggle-read-btn{
    background-color: rgb(0, 166, 255);
}
.remove-btn{
    background-color: rgb(248, 69, 69);
}
dialog{
    border-radius: 10px;
}
.dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
    backdrop-filter: blur(5px); /* Blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 300px;
    height: 400px;
    font-size: 15px;
}
.inputForm > input{
    padding: 5px;
    width: 250px;
}
.checkBoxInput{
    display: flex;
    gap: 10px;
}
.btnCloseForm{
    background-color: rgb(248, 69, 69);
}
.btnAdd{
    background-color: rgb(30, 164, 0);
}